@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-primary: #5db996;
  --bg-secondary: #ace238;
  --text-color: #1d1d1d;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  color: #1d1d1d;
}

nav {
  width: 100%;
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(56, 193, 163);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a::after {
  content: "";
  display: block;
  border-bottom: 1px solid white;
  margin-top: -3px;
  transform-origin: left;
  transition: 0.5s;
  transform: scaleX(0);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

nav .logo {
  color: white;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  font-size: 1.2em;
}

nav .logo img {
  width: 8rem;
  height: 4rem;
  margin-top: -0.5rem;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons .btn-masuk {
  background-color: transparent;
  border: 2px solid white;
  padding: 6px 24px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-masuk a {
  color: white;
  text-decoration: none;
}

.nav-buttons .btn-daftar {
  background-color: white;
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-buttons .btn-daftar a {
  color: var(--text-color);
  text-decoration: none;
}

.home-section {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 5%;
  align-items: center;
  justify-content: space-between;
}

.home-text {
  width: 50%;
  margin-top: 2rem;
}

.home-text h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.4;
}

.home-text h1 b {
  font-size: 3.6rem;
  font-weight: 650;
}

.home-text h1 span {
  color: #1a1a1a;
}

.home-text p {
  margin: 25px 0;
  line-height: 1.6;
  color: #555;
  font-size: 0.9em;
}

.btn-primary {
  background-color: #000;
  color: #fff;
  padding: 6px 8px;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  position: relative;
}

.btn-primary a {
  text-decoration: none;
}

.btn-primary .indikator {
  position: absolute;
  left: 50%;
  height: 0.4rem;
  width: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--bg-secondary);
}

.btn-primary i {
  font-size: 2em;
}

.home-image {
  text-align: center;
  width: 35%;
  position: relative;
}

.home-image img {
  width: 25rem;
}

.home-image .growth {
  background-color: white;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  width: 13rem;
  align-items: center;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  padding: 0.6rem;
  text-align: left;
  color: var(--text-color);
  position: absolute;
  top: 20%;
}

.growth span {
  width: 2rem;
  height: 2rem;
  background-color: #000;
  color: var(--bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.growth p {
  width: 7rem;
  font-size: 0.9em;
}

.trust-people {
  display: flex;
  border-radius: 0.5rem;
  background-color: var(--bg-primary);
  padding: 0.5rem;
  width: 14rem;
  position: absolute;
  right: 0;
  bottom: 13rem;
}

.trust-people button {
  border: none;
  outline: none;
  background-color: var(--bg-secondary);
  border-radius: 0.5rem;
}

.trust-people button a {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 0.9em;
}

.text-trust-people {
  color: white;
}

.text-trust-people h3 {
  font-weight: 300;
  font-size: 0.8em;
}

.text-trust-people p {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.2rem;
}

.stats {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.stats .stat-1 h3,
.stats .stat-2 h3 {
  font-size: 0.9em;
  font-weight: 400;
}

.stats .line {
  width: 1rem;
  border-right: 1px solid black;
  height: 4rem;
}

.stats .stat-1 p,
.stats .stat-2 p {
  font-size: 1.5em;
  font-weight: 600;
  color: #1d1d1d;
}

.logo-perusahaan {
  width: 100%;
  display: flex;
  gap: 70px;
  background-color: #EEEEEE;
  padding: 25px;
  align-items: center;
}

.logo-perusahaan img{
  width: 90px;
  height: 70px;
}

.logo-perusahaan img.logo-1 {
  width: 170px;
  height: 80px;
}

.logo-perusahaan img.logo-4 {
  width: 100px;
  height: 70px;
}

.logo-perusahaan img.logo-6 {
  width: 180px;
  height: 85px;
}

.logo-perusahaan img.logo-7 {
  width: 150px;
  height: 80px;
}

.tentang-kami {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 4px 12px;
  border-radius: 20px;
  gap: 8px;
  margin-left: 80px;
  margin-top: 100px;
}

.tentang-kami .bulat {
  width: 8px;
  height: 8px;
  background: #ace238;
  border-radius: 50%;
}

.tentang-section {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 25px;
  margin-top: -50px;
}

.tentang-container {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  margin-top: 100px;
}

.tentang-container img {
  width: 550px;
  height: 550px;
  object-fit: cover;
  margin-left: 100px;
}

.tentang-container p {
  margin-right: 80px;
  margin-bottom: 35px;
  flex-direction: column;
  display: flex;
}

.layanan-kami {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 4px 12px;
  border-radius: 20px;
  gap: 8px;
  margin-left: 46%;
  margin-top: 200px;
}

.layanan-kami .bulat {
  width: 8px;
  height: 8px;
  background: #ace238;
  border-radius: 50px;
}

.layanan-section {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 40px;
}

.layanan {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 100px;
}

.layanan .item {
  flex: 1 1 200px;
  max-width: 220px;
  text-align: center;
}

.item {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 0 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.layanan .item img.layanan-img {
  width: 100%;
  height: auto;
}

.pilih-bjs {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 4px 12px;
  border-radius: 20px;
  gap: 8px;
  margin-left: 80px;
  margin-top: 300px;
}

.pilih-bjs .bulat {
  width: 8px;
  height: 8px;
  background: #ace238;
  border-radius: 50%;
}

.pilih-section {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 25px;
  margin-top: -50px;
}

.container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
}
.left {
  flex: 1;
}
.numbered-list {
  list-style: decimal-leading-zero;
  padding-left: 20px;
  margin-left: 100px;
}
.numbered-list li {
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 50px;
  font-size: 20px;
  margin-right: 100px;
}
.right {
  flex: 1;
  max-width: 500px;
}
.photo-box img {
  width: 100%;
  background: #EEEEEE;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 15px;
}
.info-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
}
.badge {
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
}
.badge.light {
  background: #f0ffd4;
}
.badge.blue {
  background: #b2ebe6;
}
.highlight {
  background: #6dc8a4;
  color: white;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}

.info-boxes i {
  width: 35px;
  height: 35px;
  font-size: 35px;
}

.people-join {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
.avatars {
  display: flex;
}
.avatars img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
  box-shadow: 0 0 0 1px #ccc;
}
.avatars img:first-child {
  margin-left: 0;
}

.tag {
  display: inline-flex;
  background: #000;
  color: #fff;
  border-radius: 999px;
  font-size: 14px;
  margin-bottom: 10px;
  align-items: center;
  padding: 4px 12px;
  gap: 8px;
  margin-top: 200px;
  margin-bottom: 50px;
  margin-left: 47%;
}

.tag .bulat {
  width: 8px;
  height: 8px;
  background: #ace238;
  border-radius: 50%;
}

h1 {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}
.product {
  max-width: 240px;
}
.product i {
  font-size: 48px;
  color: #000;
  margin-bottom: 14px;
}
.product h3 {
  font-size: 16px;
  margin: 8px 0 6px;
}
.product p {
  font-size: 14px;
  color: #555;
}
