.container-card {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}

.container-card .card-item {
  background-color: white;
  width: 15rem;
  height: 7rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0 1.6rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.text-card h3 {
  font-size: 0.9em;
  color: #808080;
  font-weight: 300;
  margin-left: 0.5rem;
}

.text-card p {
  font-weight: 400;
  color: #1d1d1d;
  font-size: 1em;
  margin-left: 0.5rem;
}

.card-item .icon-card {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item:nth-child(1) .icon-card {
  color: #87a2ff;
  background-color: #87a2ff40;
}

.card-item:nth-child(2) .icon-card {
  color: green;
  background-color: #90ee9040;
}

.card-item:nth-child(3) .icon-card {
  color: lightskyblue;
  background-color: #87cefa40;
}

.card-item:nth-child(4) .icon-card {
  color: #ffbd73;
  background-color: #ffab5b40;
}

.icon-card i {
  font-size: 1.5em;
}

.container-dashboard .main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  margin-top: 5.5rem;
}

.main-content .container-chart-bar,
.main-content .container-chart-line {
  width: 100%;
  height: 25.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

  background-color: white;
}

.main-content .chart-pie-line {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-content .container-chart-line {
  width: 65%;
  height: 100%;
}

.main-content .container-pie-chart {
  width: 35%;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.container-pie-chart h3 {
  font-weight: 500;
  font-size: 1em;
  margin-top: 1rem;
}

.container-pie-chart .container-content-pie {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-pie-chart .pie-chart {
  width: 73%;
  height: 73%;
}

.container-pie-chart ul {
  list-style-type: none;
  font-size: 0.8em;
}

.container-pie-chart ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.container-pie-chart ul li .color {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.container-pie-chart ul li:nth-child(1) .color {
  background-color: lightseagreen;
}

.container-pie-chart ul li:nth-child(2) .color {
  background-color: gainsboro;
}

.container-pie-chart ul li:nth-child(3) .color {
  background-color: lightcoral;
}

.container-pie-chart ul li .percentage {
  font-weight: 550;
}

.container-chart-bar .chart-bar,
.container-chart-line .chart-line {
  width: 100%;
  height: 100%;
}

.main-content .container-chart-bar {
  margin-bottom: 1rem;
}

@media (max-width: 1190px) {
  .container-card {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-card .card-item {
    width: 48.8%;
    justify-content: start;
    gap: 1.5rem;
    height: 6rem;
  }

  .main-content .chart-pie-line {
    height: 18rem;
  }

  .main-content .container-chart-line {
    width: 70%;
  }

  .main-content .container-pie-chart {
    width: 28%;
  }

  .container-pie-chart .container-content-pie {
    flex-direction: column;
    gap: 1rem;
  }

  .container-pie-chart .pie-chart {
    height: 56%;
    margin-top: 0.5rem;
  }

  .container-pie-chart ul {
    font-size: 0.7em;
  }
}

@media (max-width: 1100px) {
  .container-pie-chart .container-content-pie {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 1040px) {
  .main-content .container-chart-line {
    width: 70%;
  }

  .container-pie-chart .pie-chart {
    height: 50%;
    margin-left: 1rem;
  }

  .main-content .container-pie-chart {
    width: 30%;
  }

  .container-card .card-item {
    width: 48%;
    justify-content: start;
    gap: 1.5rem;
    height: 6rem;
  }

  .container-pie-chart h3 {
    margin-top: 0.8rem;
    font-size: 0.8em;
  }

  .main-content .container-pie-chart {
    gap: 0.8rem;
  }

  .main-content .chart-pie-line {
    height: 16rem;
  }
}

@media (max-width: 900px) {
  .main-content .container-chart-line {
    width: 60%;
  }

  .main-content .container-pie-chart {
    width: 40%;
  }

  .main-content .container-chart-bar {
    height: 25rem;
  }
}

@media (max-width: 768px) {
  .main-content .container-chart-line {
    width: 65%;
  }

  .main-content .container-pie-chart {
    width: 35%;
  }

  .container-card .card-item {
    width: 48.5%;
  }

  .main-content .chart-pie-line {
    height: 18rem;
  }

  .container-pie-chart .container-content-pie {
    flex-direction: column;
    gap: 1.5rem;
  }

  .container-pie-chart .pie-chart {
    height: 56%;
  }

  .main-content .container-chart-bar {
    height: 20rem;
  }
}

@media (max-width: 650px) {
  .main-content .chart-pie-line {
    height: 16rem;
  }

  .container-pie-chart .pie-chart {
    height: 65%;
  }

  .main-content .container-pie-chart {
    gap: 0;
  }

  .container-pie-chart .container-content-pie {
    gap: 0;
  }
}

@media (max-width: 576px) {
  .container-card .card-item {
    width: 47.8%;
    padding: 0 1rem;
  }

  .main-content .chart-pie-line {
    flex-direction: column;
    height: 30rem;
  }

  .main-content .container-chart-line,
  .main-content .container-pie-chart {
    width: 100%;
  }

  .container-pie-chart .container-content-pie {
    width: 80%;
    flex-direction: row;
  }

  .container-pie-chart .pie-chart {
    height: 77%;
    margin-top: 0;
  }

  .text-card h3 {
    font-size: 0.8em;
  }

  .text-card p {
    font-size: 0.9em;
  }

  .container-pie-chart h3 {
    font-size: 1em;
    margin-top: 1rem;
  }
}

@media (max-width: 428px) {
  .container-card {
    gap: 0.8rem;
  }

  .container-pie-chart .pie-chart {
    height: 70%;
  }

  .container-card .card-item {
    width: 100%;
    justify-content: start;
    gap: 1rem;
  }

  .container-pie-chart .container-content-pie {
    width: 100%;
  }

  .container-pie-chart .container-content-pie {
    width: 85%;
  }
}

@media (max-width: 360px) {
  .container-pie-chart .container-content-pie {
    width: 90%;
  }

  .container-card {
    flex-direction: column;
    gap: 0.8rem;
  }
}

@media (max-width: 340px) {
  .container-pie-chart .container-content-pie {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .container-content-pie .pie-chart {
    height: 65%;
  }
}
